@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Bem Vindo</h4>
    <p>Bolo do dia</p> 
    <p>O sabor que vicia</p>
</div>
<p>
    <a asp-controller="Vendedores" asp-action="Index" class="btn btn-primary">
        Gerenciar Vendedores
    </a>
</p>

